div{
    display: inline-block;
    width: 440px;
    height: 440px;
    margin-right: -5px;
}

#div1{
    text-align: center;
    color: white;
    background-color: black;
}

#div2{
    text-align: center;
    color: white;
    background-color: rgb(90, 128, 0);
}

#div3{
    text-align: center;
    color: white;
    background-color: gray;
}